.carouseltest{
    height:60vh !important;
    position: relative;
}

.carousel-cell{
    width:40vw !important;
    background-color: white;
}



img{
    height: 30vh !important;
    width: 30vh !important;
}

