
.list-titles{
    h2 {
        color: #e5e5e5;
    }
    img {
        min-width: 160px;
    }
}


.carousel-list{
    z-index: 0;
}


.carousel-cell{
    height: 18rem !important;
    position: absolute;
    overflow: hidden;
}


.carousel-arrows{
    width: 19px !important;
    height: 73px !important;

}


.carousel-arrow.carousel-arrow-next {
    right: 20px !important;
}

.carousel-arrow-next{

}

