<nav class="navbar navbar-dark bg-dark fixed-top" [ngClass]="{'sidebar-open': open}">

    <button class="navbar-toggler d-lg-none" type="button" (click)="toggle()">
        <img src="assets/images/hamburger.gif" alt="Menu">
    </button>

    <a class="navbar-brand flex-grow-1" href="#">
        <img src="assets/images/logo.png" class="my-1 mx-2" alt="Netflix">
    </a>

    <ul class="nav text-white d-none d-lg-flex teste">
        <li class="nav-item d-xl-none">
            <a class="nav-link  text-reset"(hesitate)="showMessage()" (click)="hideMessage()" href="#">Navegar</a>
        </li>
        <li class="nav-item d-xl-none">
            <a class="nav-link " href="#">Infantil</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link  text-reset" routerLink="/home" routerLinkActive="active">Inicío</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" routerLink="/series" routerLinkActive="active" href="#">Series</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" href="#">Filmes</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" href="#">Adicionados recentemente</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" href="#">Minha lista</a>
        </li>
    </ul>

    <form class="form-inline">
        <i class="material-icons">search</i>
        <input class="form-control" type="search" placeholder="Busca">
    </form>

    <div class="media text-white p-2 d-none d-lg-flex">
        <img class="avatar" src="assets/images/avatar1.png" alt="Avatar" class="mr-2">
        <div class="media-body">
            <p class="h6 m-0 text-uppercase">
                <button class="material-icons" (click)="toggle()">
                arrow_drop_down
            </button>
            </p>
        </div>
    </div>

    <ul class="list-unstyled font-weight-bold sidebar">
        <li class="media media-avatar">
            <img src="assets/images/avatar1.png" alt="Avatar" class="mr-2">
            <div class="media-body">
                <p class="h6 m-0">Rafael Casa Santa</p>
                <small>Trocar de perfil</small>
            </div>
        </li>
        <li class="divider"></li>
        <li><a href="#" class="text-reset">Trocar Usuário</a></li>
        <li><a href="#" class="text-reset"  routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a href="#" class="text-reset" routerLink="/series" routerLinkActive="active">Séries</a></li>
        <li><a href="#" class="text-reset">Minha Lista</a></li>


    </ul>

</nav>
